@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root{
    --letter-color: #494949;
    --letter-color-links: #1A1A1A;
    --bg-footer-color: #F0F0F0;
    --bg-div-color: #E2E2E2;
    --bg-color: #FFFFFF;
    --button-color: #0047FF;
    --box-shadow-color: #D2D2D2;
    --letter-red: #F32e2e;
    --rectangle-red: #F34C5A;
    --rectangle-blue: #4B7EFF;
    --rectangle-green: #4CF35D;
}

body{
    width: 100%;
    margin: 0;
}
.container{
    width: 70%;
    margin: 200px auto;
    background-color: var(--bg-div-color);
    font-size: 28px ;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    color: var(--letter-color);
}
ul{
    list-style-type: none;
    margin: 12px;
    font-size: 24px;
}

a{
    text-decoration: none;
    color: var(--letter-color-links);
    font-weight: 500;
}
a:hover{
    color: var(--letter-color-links)
}