:root{
    --letter-color: #494949;
    --letter-color-links: #1A1A1A;
    --bg-footer-color: #F0F0F0;
    --bg-div-color: #E2E2E2;
    --bg-color: #FFFFFF;
    --button-color: #0047FF;
    --box-shadow-color: #D2D2D2;
    --letter-red: #F32e2e
}
