@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root{
    --letter-color: #494949;
    --letter-color-links: #1A1A1A;
    --bg-div-color: #F3F3F3;
}

body{
    width: 100%;
    margin: 0;
}
.container{
    width: 70%;
    margin: 300px auto;
    background-color: var(--bg-div-color);
    font-size: 40px ;
    border-radius: 8px;
    padding: 12px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--letter-color);
    font-weight: 500;
}
a:hover{
    color: var(--letter-color-links);
    font-weight: 700;
}
